* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
}

/* ===== FUNDO ===== */
.fundo {
  width: 100%;
  height: 100vh;
  background: linear-gradient(117deg, #006233, #238b3b, #86a244, #f2b544);
  position: relative;
  overflow: hidden;
}

/* ===== BOTÃO MENU PRINCIPAL ===== */
.menu-icon {
  position: absolute;
  top: 22px;
  left: 28px;
  width: 26px;
  height: 26px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  cursor: pointer;
  z-index: 1002;
  transition: opacity 0.3s ease;
}

.menu-icon div {
  background-color: white;
  width: 7px;
  height: 7px;
  border-radius: 1px;
}

/* ===== ESCONDER MENU PRINCIPAL ===== */
.menu-icon.hidden {
  display: none !important;
}

/* ===== LOGO DIREITA ===== */
.topo {
  position: absolute;
  top: 17px;
  right: 20px;
}

.logo {
  width: 140px;
  height: auto;
}

/* ===== LOGOUT ===== */
.logout-icon {
  position: absolute;
  top: 75px;
  right: 28px;
  color: white;
  cursor: pointer;
  opacity: 0.9;
  font-size: 22px;
}

/* ===== SUBMENU ===== */
.submenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 341px;
  height: 1024px;
  flex-shrink: 0;
  background: linear-gradient(135deg, #1f8b45 0%, #4ba64a 50%, #e0b64b 100%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transform: translateX(-110%);
  transition: transform 0.4s ease;
  z-index: 1000;
}

/* ===== CABEÇALHO SUBMENU ===== */
.submenu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.logo-submenu {
  width: 214px;
  height: 59px;
  flex-shrink: 0;
  aspect-ratio: 214/59;
}

/* ===== ÍCONE DENTRO DO SUBMENU ===== */
.submenu .menu-close {
  width: 29px;
  height: 27px;
  flex-shrink: 0;
  cursor: pointer;
}

.submenu .submenu-close div {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 2px;
}

/* ===== QUANDO VISÍVEL ===== */
.submenu.visible {
  transform: translateX(0);
}

/* ===== INFO BOX ===== */
.info-box {
  width: 285px;
  height: 130px;
  color: #008445;
  border-radius: 3px;
  border: 0.3px solid #008445;
  background: #FFF;
}

/* ===== ESTILIZAR OS PARÁGRAFOS ===== */
.info-box p {
  margin: 10px 0;         /* Espaçamento entre linhas */
  font-size: 13px;        /* Tamanho da fonte */
  font-weight: normal;    /* Peso da fonte */
  line-height: 1.4;       /* Espaçamento entre linhas */
  margin-left: 6%;
  margin-top: 6%;
  
}

/* ===== ESTILIZAR APENAS OS TÍTULOS===== */
.info-box p strong {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 3px;   /* Pequeno espaço abaixo do título */
  color: #008445;
}

/* ===== ÍCONE DE PERFIL ===== */

.icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  margin-left: 82%;
  margin-top: -37%;
  fill: #008445;

}

/* ===== BOTÕES ===== */
.menu-item {

  width: 285px;
  height: 51.818px;
  border-radius: 3px;
  border: 0.3px solid #008445;
  color: #008445;
  font-family: Rubik;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex; /* alinha SVG e texto em linha */
  align-items: center; /* centraliza verticalmente */
  gap: 8px; /* espaço entre ícone e texto */
  padding: 0 16px;
}

.menu-item:hover {
  background-color: #e5f3e7;
}

.arrow {
  margin-left: auto;
  margin-top: 16px;
}

/* =====  ÍCONE LÁPIS DE GERAÇÃO DE RELATÓRIOS ===== */
.icone-lapis {
  width: 10px;
  height: 10px;
  margin-top: 17px;
  margin-left: -80%;
  fill: #008445;
}


/* =====  ÍCONE SETA DO CADASTRO ===== */
.icone-seta {
  width: 14px;
  height: 13px;
  margin-left: 40%;
  fill: #008445;
}

/* ===== QUADRADO BRANCO ===== */
.white-box {
  width: 88.95%;
  height: 85%;
  flex-shrink: 0;
  border-radius: 3px;
  background: #F5F7FB;
  margin-top: 75px;   /* move para baixo */
  margin-left: 6%; /* move para a direita */
}

/* ===== DESFOQUE DO FUNDO ===== */
body.blurred::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2.5px);
  background: rgba(0, 0, 0, 0.12);
  z-index: 999;
  pointer-events: none;
}

@media (width <= 768px) {
  
}